@font-face {
    font-family: 'Mont';
    src: url('Mont-Bold.eot');
    src: url('Mont-Bold.eot?#iefix') format('embedded-opentype'),
        url('Mont-Bold.woff2') format('woff2'),
        url('Mont-Bold.woff') format('woff'),
        url('Mont-Bold.ttf') format('truetype'),
        url('Mont-Bold.svg#Mont-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

