@font-face {
    font-family: 'Mont';
    src: url('Mont-Regular.eot');
    src: url('Mont-Regular.eot?#iefix') format('embedded-opentype'),
        url('Mont-Regular.woff2') format('woff2'),
        url('Mont-Regular.woff') format('woff'),
        url('Mont-Regular.ttf') format('truetype'),
        url('Mont-Regular.svg#Mont-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

