@font-face {
    font-family: 'Dusha V5';
    src: url('DushaV5-Regular.eot');
    src: url('DushaV5-Regular.eot?#iefix') format('embedded-opentype'),
        url('DushaV5-Regular.woff2') format('woff2'),
        url('DushaV5-Regular.woff') format('woff'),
        url('DushaV5-Regular.ttf') format('truetype'),
        url('DushaV5-Regular.svg#DushaV5-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

