.ant-input-search-button {
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}

.ant-input-search {
  .ant-input-affix-wrapper {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-left: none !important;
  }
}
.ant-btn {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-right: none;
}
