@primary-color: "#7D0104";
@font-family: "Dusha V5";

@font-size-base: 14px;
@font-size-lg: @font-size-base + 2px;
@font-size-sm: 12px;

// ВОПРОС те. стили к каскадеру анта можно задать только через этот лесс?
// ОТВЕТ - можно так, можно через глобальные стили
@dropdown-font-size: @font-size-sm;

// Btn
@btn-border-radius-base: 8px;
@btn-primary-color: #fff;
