/* Dusha */
@font-face {
  font-family: "Dusha V5";
  src: url("./fonts/Duscha/DushaV5-Regular.eot");
  src: url("./fonts/Duscha/DushaV5-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Duscha/DushaV5-Regular.woff2") format("woff2"),
    url("./fonts/Duscha/DushaV5-Regular.woff") format("woff"),
    url("./fonts/Duscha/DushaV5-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Mont */
@font-face {
  font-family: "Mont";
  src: url("./fonts/Mont/Mont-Bold/Mont-Bold.eot");
  src: url("./fonts/Mont/Mont-Bold/Mont-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Mont/Mont-Bold/Mont-Bold.woff2") format("woff2"),
    url("./fonts/Mont/Mont-Bold/Mont-Bold.woff") format("woff"),
    url("./fonts/Mont/Mont-Bold/Mont-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mont";
  src: url("./fonts/Mont/Mont-Regular/Mont-Regular.eot");
  src: url("./fonts/Mont/Mont-Regular/Mont-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Mont/Mont-Regular/Mont-Regular.woff2") format("woff2"),
    url("./fonts/Mont/Mont-Regular/Mont-Regular.woff") format("woff"),
    url("./fonts/Mont/Mont-Regular/Mont-Regular.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
